numpy
beautifulsoup4
nltk
Sastrawi
openpyxl
requests
Pillow
streamlit
pandas
matplotlib-inline
plotly
seaborn
scikit-learn
pickleshare
tinycss2
toml
RandomForestClassifier
train_test_split
TfidfVectorizer
accuracy_score
