numpy==1.22.3
pandas==1.4.2
plotly==5.11.0
scikit_learn==1.0.2
streamlit==1.11.0
chardet==5.1.0
cleantext==1.1.4
matplotlib==3.5.1
nltk==3.7
Pillow==10.0.1
Sastrawi==1.0.1
seaborn==0.12.2
textblob==0.17.1
vaderSentiment==3.3.2
wordcloud==1.8.2.2
beautifulsoup4
openpyxl
requests
pickle5
tinycss2
toml
random-forest-mc
superml
tfidf
scikit-learn-helper
