numpy==1.22.3
pandas==1.4.2
plotly==5.11.0
scikit_learn==1.0.2
streamlit==1.11.0
beautifulsoup4
nltk
Sastrawi
openpyxl
requests
Pillow
matplotlib-inline
seaborn
pickle5
tinycss2
toml
random-forest-mc
superml
tfidf
scikit-learn-helper
